@import '../vars.less';

/**
 * Side Menu styles
 */

.ant-menu-vertical .ant-menu-item {
  transition: border-right-width @animation-duration-slow,
              border-right-color @animation-duration-slow;
  &:first-child {
    margin-top: @border-width-base;
  }
  &.ant-menu-item-selected {
    background-color: @menu-item-active-bg;
    border-right: .35em solid @menu-item-active-mark;
  }
}

.ant-menu.ant-menu-inline-collapsed > .ant-menu-item {
  &.ant-menu-item-selected {
    border-right-color: @menu-item-active-bg;
    border-right-width: 0;
  }
}

/**
 * Description list styles
 */

.ant-descriptions-header {
  margin-bottom: .5em; // As for headers
}

/**
 * Step items
 */

.ant-steps-item-wait:not(.ant-steps-item-disabled) {
  > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: @text-color;
  }

  .ant-steps-item-icon {
    border-color: @text-color;

    > .ant-steps-icon {
      color: @text-color;
    }
  }
}

.ant-steps:not(.ant-steps-vertical) {
  .ant-steps-item-title {
    line-height: 1.25em;
    white-space: normal;
    padding-top: 6px;
    padding-right: 24px;
  }
}
