// TODO: remove after debugging and libs separation
@import 'antd/dist/antd.less';

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.App__loader {
  position: absolute;
  margin-left: -16px;
  top: 45%;
  left: 50%;
}
