html,
body {
  height: 100%;
}

:global #root {
  height: 100%;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.App__loader {
  position: absolute;
  margin-left: -16px;
  top: 45%;
  left: 50%;
}
